{%- liquid
  assign splited_modal_subheading = modal_subheading | split: '|'
-%}

<div data-custom-modal class="custom-modal hide-modal">
  <div class="custom-modal__background"></div>
  <div class="custom-modal__container">
    <div class="custom-modal__content-container">
      <div class="custom-modal__content-wrapper">
        <button
          type="button"
          aria-label="close-button"
          data-close-modal
          class="custom-modal__close-button"
        >
          {%- render 'close-icon' -%}
        </button>
        {% if modal_image != blank %}
          <div class="custom-modal__image-wrapper">
            {{
              modal_image
              | image_url: width: modal_image.width
              | image_tag:
                loading: 'eager',
                width: modal_image.width,
                height: modal_image.height,
                class: 'custom-modal__image',
                sizes: '(min-width: 768px) 50vw, 80vw',
                widths: '300, 400, 500, 600, 700, 800, 900, 1000, 1050, 1100, 1200',
                alt: modal_image.alt
            }}
          </div>
        {% endif %}
        <div class="custom-modal__product-info">
          <div class="custom-modal__title-wrapper">
            {%- if modal_heading != blank -%}
              <h3>{{ modal_heading }}</h3>
            {%- endif -%}
          </div>
          <div>
            {% if modal_subheading != blank %}
              <p>
                {{ splited_modal_subheading[0] }}
                <span>{{ product.title }}</span> {{ splited_modal_subheading[1] }}
              </p>
            {% endif %}
          </div>
          <div>
            {%- if modal_money_save_message != blank -%}
              <p>{{ modal_money_save_message }}</p>
            {%- endif -%}
          </div>
          <div class="custom-modal__complete-the-look-wrapper">
            <ul class="complete-the-look">
              {%- if complete_the_look != blank -%}
                {%- for complete_the_look_product in complete_the_look -%}
                  <li class="complete-the-look__product">
                    {% if complete_the_look_product.featured_image != blank %}
                      <div class="complete-the-look__product-image-wrapper">
                        {{
                          complete_the_look_product.featured_image
                          | image_url: width: complete_the_look_product.featured_image.width
                          | image_tag:
                            loading: 'eager',
                            width: complete_the_look_product.featured_image.width,
                            height: complete_the_look_product.featured_image.height,
                            class: 'complete-the-look__product-image',
                            sizes: '10vw',
                            widths: '80, 100, 120',
                            alt: complete_the_look_product.featured_image.alt
                        }}
                      </div>
                    {% endif %}
                    <div class="complete-the-look__product-info">
                      {%- if complete_the_look_product.title != blank -%}
                        <div>
                          <h4>{{ complete_the_look_product.title }}</h4>
                        </div>
                      {%- endif -%}
                      {% if complete_the_look_product.variants.first.sku != blank %}
                        <div>
                          <p>{{ complete_the_look_product.variants.first.sku }}</p>
                        </div>
                      {% endif %}
                      {% if complete_the_look_product.vendor != blank %}
                        <div>
                          <p>{{ complete_the_look_product.vendor }}</p>
                        </div>
                      {% endif %}
                      {% if complete_the_look_product.price != blank
                        or complete_the_look_product.compare_at_price != blank
                      %}
                        <div>
                          <span>{{ complete_the_look_product.price | money }}</span
                          ><span>{{ complete_the_look_product.compare_at_price | money }}</span>
                        </div>
                      {% endif %}
                    </div>
                  </li>
                {%- endfor -%}
                <script>
                  console.log({{ complete_the_look | json }})
                </script>
              {%- endif -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
